# Python
__pycache__/
*.pyc
*.pyo

# Django
db.sqlite3
media/
staff_images/
students_photos/
staticfiles/

# Virtual environments
venv/
env/

# Environment variables
.env

# Node
node_modules/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db